extends layout

block script
  script(type='text/javascript', src='/javascripts/delay_column_chart.js')
  script()
    | var local_data = !{JSON.stringify(delaystats)}
    | var local_data_cancel = !{JSON.stringify(cancelstats)}
    | var local_title = "#{title}"

block content
  
  div.container(style="width: auto;")

    div.page-header
      h1 Airport Code : #{title}

    div.page-header
      h4 Airline Performance

    div.row
        table.table.table-striped
          thead
            tr
              th Airport
              th Flight Traffic
              th No of delayed
              th No of canceled
              th %Delayed
              th %Canceled
              th Avg delay
          tbody
              tr
                td #{title}
                td= flightcount[0].flightcount
                td= delaycount[0].delaycount
                td= cancelcount[0].cancelcount
                td #{perdelay[0].perdel + '%'}
                td #{percancel[0].percan + '%'}
                td #{avgdelay[0].avgdelay + 'minutes'}

    div.page-header
      h4 Causes of Delay
    
    div(id="container1", style="min-width: 155px; height: 400px; max-width: 600px; margin: 0") 

    div.page-header
      h4 Causes of Cancellations
    
    div(id="container2", style="min-width: 155px; height: 400px; max-width: 600px; margin: 0") 

