extends layout

block content
  
  div.container(style="width: auto;")

    div.page-header
      h1= title

    div.page-header
      h4 Average time and distance

    div.row
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h3.panel-title.b Average Flight Time
          div.panel-body #{timeDist[0].airTime} minutes

      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Average Distance
          div.panel-body #{timeDist[0].distance} miles

    div.page-header
      h4 Airlines operating this route

    div.row
        table.table.table-striped
          thead
            tr
              th Airline
              th Nb of flights
              th Nb of delayed
              th Nb of canceled
              th %Delayed
              th %Canceled
              th Avg delay
          tbody
            each airline in airlineStats
              tr
                td= airline.description
                td= airline.tot
                td= airline.del
                td= airline.can
                td #{airline.del_p + '%'}
                td #{airline.can_p + '%'}
                td #{airline.avg + ' min'}

    div.page-header
      h4 Causes of delays and cancellations
      
